<footer class="footer mt-auto">
    <a id="back-to-top" href="#" class="btn  btn-small back-to-top"  role="button">
        <i class="fas fa-arrow-up"></i>
    </a>
    <div class="container">
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">Copyright © 2020 Design by Django 豫ICP备19002797号</p>
            </div>
            <div class="footer_social_nav">
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://github.com/bzyy" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>