{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:20px;">
    {% regroup articles  by pub_date.year as year_list %}
    {% for year in year_list %}
            <h4 data-toggle="collapse" href="#archive-{{year.grouper}}" aria-expanded="false" aria-controls="archive-{{year.grouper}}"><i class="fas fa-angle-down mr-1"></i>{{ year.grouper}}年</h4>
            <div class="collapse show" id="archive-{{year.grouper}}">
                <ul>
                    {% for article in year.list %}
                    <li><a  href="{% url 'detail' slug=article.id %}">{{article.title}}</a><i class="fas fa-caret-right mx-2"></i>{{article.pub_date|date:"n月d号"}}</li>
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function(){
        $(".collapse").on('show.bs.collapse', function(){
            $(this).prev().find(".fas").addClass("fa-angle-down");
        	$(this).prev().find(".fas").removeClass("fa-angle-right");
        }).on('hide.bs.collapse', function(){
            $(this).prev().find(".fas").addClass("fa-angle-right");
        	$(this).prev().find(".fas").removeClass("fa-angle-down");
        });
    });
</script>
{% endblock %}