{% extends 'base.html' %}
{% load markdown %}
<!--文章详情页-->

{% block content %}
<div class="container">
<!--  <nav aria-label="breadcrumb">-->
<!--    <ol class="breadcrumb">-->
<!--      <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--      <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--      <li class="breadcrumb-item active" aria-current="page">Data</li>-->
<!--    </ol>-->
<!--  </nav>-->
  <div class="row" style="margin-top:20px">
    <div class="col-md-9">
      <header class="blog-post-header">
        <h2 class="title mb-2">{{article.title}}</h2>
        <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
      </header>
      <div class="tag">
        <span class="badge">标签:</span>
        {% for tag in article.tags.all %}
          <span class="badge badge-info">{{tag}}</span>
        {% endfor %}
      </div>

      <div class="article-content markdown-body blog-post-body">
        <p>{{article.content|markdown|safe }}</p>
      </div>
      {% include 'comment.html' %}
    </div>

    <div class="col-md-3 navigation-bar">

    </div>
  </div>
</div>

{% endblock %}