{% extends 'base.html' %}
{% load markdown %}
{% load pyblog %}

{% block extend_head %}
    <title>{{article.title}}</title>
    <meta name="keywords" content="{{ article.tags.all|join:',' }}">
{% endblock %}
<!--文章详情页-->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <header class="blog-post-header">
        <h2 class="title mb-2">{{article.title}}</h2>
        <div class="meta mb-3">
          <span class="date">Published {{article.pub_date|human_date}}</span>
          <span class="time">{{article.content|get_read_time}} min read</span>
          <span class="comment"><a href="#">{{article.num_comment}} comments</a></span>
        </div>
      </header>
      <div class="tag">
        <i class="fas fa-tags mr-1 text-secondary"></i>
        {% for tag in article.tags.all %}
          <a href="{% url 'tag' name=tag.name %}" rel="tag" title="标签: {{tag}}" class="tag-item">{{tag}}</a>
        {% endfor %}
      </div>

      <div class="article-content markdown-body blog-post-body">
        <p>{{article.content|markdown|safe }}</p>
      </div>
      {% include 'comment.html' %}
    </div>
  </div>
</div>

{% endblock %}