{% load pyblog %}
{% load static %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h5 class="pb-2 mb-0">发表评论</h5>
    <p id="article-uuid" class="d-none">{{uuid}}</p>
    <p id="comment_count" class="d-none">{{comments.count}}</p>
<form method="POST" id="comment-form" style="margin-top: 10px;">
    {% csrf_token %}
    <input type="hidden" name="parent_id" value="">
    <input type="hidden" name="at_id" value="">
    <div class="form-group">
        <label for="comment-email">邮箱</label>
        <input type="email" class="form-control" name="email" id="comment-email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">提示:您的邮箱不会被公开</small>
    </div>
    <div class="form-group">
        <label>昵称</label>
        <input type="text" class="form-control " name="nick">
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="id">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">评论</button>
</form>
    <div class="border-top" id="comment" style="margin-top:20px">
    {% for comment in comments.data %}
    <div class="media text-muted pt-3 small" id="{{comment.id}}">
      <img src="{{comment.email|gravatar}}" alt="..." class="mr-3">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div>
              <span class="text-primary">{{comment.nick}}: </span>
              <strong class="text-gray-dark">{{comment.content}}</strong>
          </div>
          <div class="rp">
              <div class="time s-fc4">{{comment.create_date|date:"Y/m/d H:i"}}</div>
              <a class="comment-reply" href="javascript:;"  data-to="{{comment.id}}">回复</a>
          </div>
        {% for r in comment.reply %}
            <div class="media text-muted pt-3">
              <img src="{{r.email|gravatar}}" alt="..." class="mr-3">
              <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <div>
                      <span class="text-primary">{{r.nick}}</span>
                      <span>{% if forloop.first is not True %}回复</span> <span class="text-primary">{{ r.at__nick }}</span>{% endif %}:
                      <strong class="text-gray-dark">{{r.content}}</strong>
                  </div>
                  <div class="rp">
                      <div class="time s-fc4">{{r.create_date}}</div>
                      <a class="comment-reply" href="javascript:;"  data-to="{{r.id}}">回复</a>
                  </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    </div>
</div>

<form method="POST" id="comment-reply-form" class="d-none text-left">
    {% csrf_token %}
    <input type="hidden" name="parent_id" value="">
    <input type="hidden" name="at_id" value="">
    <div class="form-group">
        <label for="comment-email">邮箱</label>
        <input type="email" class="form-control" name="email"  aria-describedby="emailHelp2">
        <small id="emailHelp2" class="form-text text-muted">提示:您的邮箱不会被公开</small>
    </div>
    <div class="form-group">
        <label>昵称</label>
        <input type="text" class="form-control " name="nick">
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control" name="content"  rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="id">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">评论</button>
</form>
<script src="{% static 'js/comment.js' %}"></script>
