{% extends 'base.html' %}
{% load pyblog %}

{% block content %}
<div class="jumbotron d-sm-block d-none" style="text-align:center;">
    <div class="container">
        You are welcome
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 posts">
            {% for article in articles %}
                <div class="border-bottom">
                    <a href="{% url 'detail' slug=article.id %}" class="text-decoration-none">
                            <h4>{{ article.title}}</h4>
                    </a>
                    <div>
                        <span class="text-muted">{{article.pub_date|date:"Y/m/d H:i"}}</span> ·
                        <span><a href="{{request.path}}?category={{c.name}}" title="{{c.name}}" class="text-decoration-none" style="color:#17a2b8">{{article.category.name}}</a> </span>
                    </div>
                    <p>{{article.content|truncatechars:100}}</p>
                </div>
            {% empty %}
                <div class="border-bottom">
                    <a href="/" class="text-decoration-none"><h5>暂无内容</h5></a>
                </div>
            {% endfor %}

            {% include 'page.html' %}
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="category">
                <h4 class="pb-2 border-bottom">技术频道</h4>
                <ul class="list-unstyled mb3">
                    {% categories as categories %}
                    {% for c in categories %}
                    <li>
                    <h6>
                        <a href="{{request.path}}?category={{c.name}}" title="{{c.name}}" class="text-decoration-none">
                            {{c.name|title}}</a>
                    </h6>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="tags">
                <h4 class="border-bottom pb-2">标签</h4>
                <div class="tags">
                {% tags as tags %}
                {% for tag in tags %}
                {% if forloop.counter0|mod:8 == 0 %}
                    <a href="{% url 'tag' name=tag.name %}" class="badge badge-primary">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 1%}<a href="{% url 'tag' name=tag.name %}" class="badge badge-secondary">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 2%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-success">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 3%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-danger">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 4%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-warning">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 5%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-info">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 6%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-light">{{tag.name|title}}</a>
                {% elif forloop.counter0|mod:8 == 7%} <a href="{% url 'tag' name=tag.name %}" class="badge badge-dark">{{tag.name|title}}</a>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}