{% extends 'base.html' %}
{% load pyblog %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        Hello World
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 technology-item">
            <h5 class="technology-title">技术频道</h5>
            <div class="list-group">
                {% categories as categories %}
                {% for c in categories %}
                <a href="#" class="list-group-item list-group-item-action">{{c.name|title}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-7 article-list">
            <h5>为你推荐</h5>
            {% for article in articles %}
                <section>
                    <a href="{% url 'detail' slug=article.id %}">
                        <h4 class="article-title">{{ article.title}}</h4>
                        <div>
                            {{article.content|truncatechars:100}}
                        </div>
                    </a>
                </section>
            {% endfor %}
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

{% endblock %}