{% extends 'base.html' %}
{% load pyblog %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 blog-list px-3 py-5 p-md-5 overflow-hidden">
            {% for article in articles %}
                <div class="item mb-5">
                        <div class="media">
                            <div class="media-body">
                                <h2 class="title mb-1"><a href="{% url 'detail' slug=article.id %}">{{ article.title}}</a></h2>
                                <div class="meta mb-1">
                                    <span class="date">{{article.pub_date|date:"Y/m/d H:i"}}</span>
                                    <span class="time">{{article.content|get_read_time}} min read</span>
                                    <span class="comment">{{article.num_comment}} comments</span>
                                    <span><a href="{{request.path}}?category={{article.category.name}}" title="{{article.category.name}}" class="text-decoration-none" style="color:#17a2b8">{{article.category.name}}</a> </span>
                                </div>
                                <div class="intro">{{article.content|truncatechars:200}}</div>
                                <a class="more-link" href="{% url 'detail' slug=article.id %}">Read more →</a>
                            </div><!--//media-body-->
                        </div><!--//media-->
                </div>
            {% empty %}
                <div class="border-bottom">
                    <a href="/" class="text-decoration-none"><h5>暂无内容</h5></a>
                </div>
            {% endfor %}

            {% include 'page.html' %}
        </div>
        <div class="col-md-3 offset-md-1" id="sidebar">
            <div class="top mb-3">
                <h4  class="border-bottom pb-2"><i class="far mr-1 fa-star"></i>置顶</h4>
                <ul class="list-unstyled mb3">
                    {% tops as tops %}
                    {% for t in tops %}
                        <li>
                        <h6><a href="{% url 'detail' slug=t.id %}">{{ t.title}}</a></h6>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tags">
                <h4 class="border-bottom pb-2"><i class="fas fa-tags mr-1 text-secondary small"></i>标签</h4>
                <div class="tags">
                    {% tags as tags %}
                    {% for tag in tags %}
                        <a href="{% url 'tag' name=tag.name %}" class="tag-item">{{tag.name|title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
