{% extends 'base.html' %}
{% load pyblog %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 blog-list px-3 py-5 p-md-5 overflow-hidden">
            {% for article in articles %}
                <div class="item mb-5">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="{% url 'detail' slug=article.id %}">{{ article.title}}</a></h3>
                            <div class="meta mb-1">
                                <span class="date">{{article.pub_date|date:"Y/m/d H:i"}}</span>
                                <span class="time">{{article.content|get_read_time}} min read</span>
                                <span class="comment"><a href="#">{{article.num_comment}} comments</a></span>
                            </div>
                            <div class="intro">{{article.content|truncatechars:200}}</div>
                            <a class="more-link" href="{% url 'detail' slug=article.id %}">Read more →</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="border-bottom">
                    <a href="/" class="text-decoration-none"><h5>暂无内容</h5></a>
                </div>
            {% endfor %}
            {% include 'page.html' %}
        </div>
    </div>
</div>

{% endblock %}