.technology-title:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #eee;
    width: 95px;
    margin-left: 5px;
    margin-top: 12px;
}
.technology-item .list-group-item {
    border:None;
}

.jumbotron {
    background-color: #e8e5de;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
}

.page-item.disabled .page-link {
    color: #d5dade;
}

.navbar {
    background-color: #fff !important;
}
.posts a {
    color: #9ebdde;
}