.technology-title:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #eee;
    width: 95px;
    margin-left: 5px;
    margin-top: 12px;
}
.technology-item .list-group-item {
    border:None;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:#909090;
    background-color: #e0dbdb;
}

.page-item.disabled .page-link {
    color: #d5dade;
}

.navbar {
    background-color: #fff !important;
}
.posts a {
    color: #9ebdde;
}

.rp {
    margin-top: 15px;
    text-align: right;
}
.time {
    float: left;
    margin: 0 !important;
}

.blog-list .item .title {
    font-size: 1.275rem;
}

.blog-list .item .title {
    font-size: 1.275rem
}

.blog-list .item .title a {
    color: #292929
}

.blog-list .item .title a:hover {
    color: #292929
}

.blog-list .item .post-thumb {
    max-width: 110px;
    border-radius: 2px
}

.blog-list .item .intro {
    font-size: 0.875rem
}

.blog-list .item .more-link {
    font-size: 0.8125rem
}

.meta {
    color: #8f8f8f;
    font-size: 0.8125rem
}

.meta span {
    display: inline-block
}

.meta span a {
    color: #8f8f8f
}

.meta span a:hover {
    color: #4f4f4f
}

.meta span:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #8f8f8f;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    top: -3px
}

.meta span:last-child:after {
    display: none
}

.blog-list .item .intro {
    font-size: 0.875rem;
}
a {
    color: #3B7EEB;
    text-decoration: none;
    background-color: transparent;
}


.header {
    background: #077CBC;
    height: 200px;
}


.sps {
    background-color: #077CBC;
    color: #fff;
    padding: 1em .5em;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    width: 100%;
}

#menu {
    background-color: #077CBC !important;
}

#menu li a {
    padding: 17px 19px 14px 15px;
    float: left;
    font-weight: 600
}
#menu a {
    color: #fff;
    font-weight: 600;
}

#menu li.active a {
    background: transparent !important;
    color: #fff;
    cursor: default;
    border-bottom: 4px solid #fff
}
#menu li a:hover {
    background: rgba(0,0,0,0.17) !important;
    border-bottom: 4px solid #fff
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.main {
    padding-top:50px;
}